<div class="col-sm-4" style="min-width:300px">
    <div>
            <a ui-sref="details({id:id})" ui-sref-active="active">
                <img src={{url}} style="height: 250px; width: 250px"/>
            </a>
    </div>
    <input type="checkbox" ng-model="hideComments">Hide Comments
    <div ng-repeat="comment in comments" ng-hide="hideComments">
        {{comment.username}}:{{comment.comment}}
    </div>  
   <div ng-repeat="desc in description">
        {{desc.name}}:{{desc.jersino}}
    </div>
</div>
