
        <img class="card-img-top iconDetails" src={{data.photo}} alt="Card image" style="margin:20px;height:160px;width:160px">
    <br /><br /><br />
        <h2>{{data.name}}</h2>
        <div style="font-size:1em">{{data.country}}</div>
        <br /><br /><br />
        <div class="container">
        <div class="row">
            <div class="col-sm-3" style="background-color:lightgray">
                <br />
                <h4><b>Personal Information</b></h4>
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th>Born</th>
                            <td>{{data.Born}}</td>
                        </tr>
                        <tr>
                            <th>Role</th>
                            <td>{{data.Role}}</td>
                        </tr>
                        <tr>
                            <th>Role</th>
                            <td>{{data.Role}}</td>
                        </tr>
                    </thead>
                </table>
                <hr />
                <h4><b>ICC Rankings</b></h4>
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <td>Test</td>
                            <td>ODI</td>
                            <td>T20</td>
                        </tr>
                        <tr>
                            <th>Batting</th>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th>Bowling</th>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-sm-9">
                <h4><b>Batting Career Summary</b></h4><br/>
                <table class="table">
                    <thead>
                        <tr style="background-color: lightgray;text-align: center;font-size:.8em">
                            <th></th>
                            <td>M</td>
                            <td>Runs</td>
                            <td>HS</td>
                            <td>Avg</td>
                            <td>100</td>
                            <td>200</td>
                            <td>50 </td>
                        </tr>
                        <tr style="text-align: center;font-size:.8em">
                            <th style="width:1px">Test</th>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr style="text-align: center;font-size:.8em">
                            <th style="width:1px">ODI</th>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr style="text-align: center;font-size:.8em">
                            <th style="width:1px">T20</th>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                    </thead>
                </table>
                <hr/>
            <h4><b>Bowling Career Summary</b></h4>
            <br/>
            <table class="table">
                <thead>
                    <tr style="background-color: lightgray;text-align: center;font-size:.8em">
                        <th></th>
                        <td>M</td>
                        <td>Wkts</td>
                        <td>Econ</td>
                        <td>BBI</td>
                        <td>5W</td>
                        <td>10W</td>
                    </tr>
                    <tr style="text-align: center;font-size:.8em">
                        <th style="width:1px">Test</th>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr style="text-align: center;font-size:.8em">
                        <th style="width:1px">ODI</th>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr style="text-align: center;font-size:.8em">
                        <th style="width:1px">T20</th>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                </thead>
            </table>
            </div>
        </div>
        </div>
        <hr /><br />