
        <img class="card-img-top iconDetails" src={{data.photo}} alt="Card image" style="margin:20px;height:160px;width:160px">
    <br /><br /><br />
        <h2>{{data.name}}</h2>
        <div style="font-size:1em">{{data.country}}</div>
        <br /><br /><br />
        <div class="container" style="background-color:lightgray">
        <div class="row">
            <div class="col-sm-3">
                <br />
                <h4><b>Personal Information</b></h4>
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th>Born</th>
                            <td>{{data.Born}}</td>
                        </tr>
                        <tr>
                            <th>Role</th>
                            <td>{{data.Role}}</td>
                        </tr>
                    </thead>
                </table>
                <br />
                <h4><b>ICC Rankings</b></h4>
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <td>Test</td>
                            <td>ODI</td>
                            <td>T20</td>
                        </tr>
                        <tr>
                            <th>Batting</th>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th>Bowling</th>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-sm-9" style="background-color:aliceblue">
                <br />
                <h4><b>Batting Career Summary</b></h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <td>M</td>
                            <td>Runs</td>
                            <td>HS</td>
                            <td>Avg</td>
                            <td>100</td>
                            <td>200</td>
                            <td>50 </td>
                        </tr>
                        <tr>
                            <th>Test</th>
                        </tr>
                        <tr>
                            <th>ODI</th>
                        </tr>
                        <tr>
                            <th>T20</th>
                        </tr>
                    </thead>
                </table>
                <h4><b>Bowling Career Summary</b></h4>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <td>M</td>
                        <td>Wkts</td>
                        <td>Econ</td>
                        <td>BBI</td>
                        <td>5W</td>
                        <td>10W</td>
                    </tr>
                    <tr>
                        <th>Test</th>
                    </tr>
                    <tr>
                        <th>ODI</th>
                    </tr>
                    <tr>
                        <th>T20</th>
                    </tr>
                </thead>
            </table>
            </div>
        </div>
        </div>
        <br /><br />