<h3>ICC Player and Team Rankings</h3>
<ul class="nav nav-pills">
            <li><a ui-sref="ranking({name:'batsman'})" ng-class="{'active-tab':tab=='batsman'}">Batsman</a></li>
            <!-- <li><a data-toggle="tab" href="#Bowlers">Bowlers</a></li> -->
            <li><a ui-sref="ranking({name:'bowlers'})" ng-class="{'active-tab':tab=='bowlers'}">Bowlers</a></li>
            <li><a ui-sref="ranking({name:'teams'})" ng-class="{'active-tab':tab=='teams'}">Teams</a></li>
        </ul>
        <hr />
    <ul class="nav nav-tabs">
        <li><a ui-sref="ranking({name:tab,format:'test'})" ng-class="{'active-format':format=='test'}">Test</a></li>
        <li><a ui-sref="ranking({name:tab,format:'odi'})" ng-class="{'active-format':format=='odi'}">ODI</a></li>
        <li><a ui-sref="ranking({name:tab,format:'t20'})" ng-class="{'active-format':format=='t20'}">T20</a></li>
    </ul>
    
    <table class="table table-ranking">
        <thead>
            <tr>
                <th>Rank</th>
                <th ng-if="tab != 'teams'">Name</th>
                <th ng-if="tab == 'teams'">Team</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in data">
                <td>{{d.rank}}</td>
                <td ng-if="tab != 'teams'">
                    <div>
                        <img src="{{d.photo}}" class='iconDetails'>
                    </div>	
                    <div style='margin-left:60px;'>
                        <h4><a ui-sref="playerDetails({id:d.id})">{{d.name}}</a></h4>
                        <div style="font-size:.7em">{{d.country}}</div>
                    </div>
                </td>
                <td ng-if="tab == 'teams'">
                    <div>
                        <img src="{{d.photo}}" class='iconDetails'>
                    </div>	
                    <div style='margin-left:60px;'><h4>{{d.country}}</h4></div>
                </td>
                <td>{{d.points}}</td>              
            </tr>
        </tbody>    
    </table>