 <div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Test</a></li>
        <li><a data-toggle="tab" href="#menu1">ODI</a></li>
        <li><a data-toggle="tab" href="#menu2">T20</a></li>
    </ul>
    
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
        <h3>Test</h3>
        <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Team</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in data">
                        <td>{{d.id}}</td>
                        <td><img src={{d.flagurl}} style="height: 20px; width: 20px"/> {{d.name}}</td>
                        <td>{{d.points}}</td>              
                    </tr>
                </tbody>    
            </table> 
        </div>
        <div id="menu1" class="tab-pane fade">
        <h3>ODI</h3>
        <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Team</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in data">
                        <td>{{d.id}}</td>
                        <td><img src={{d.flagurl}} style="height: 20px; width: 20px"/> {{d.name}}</td>
                        <td>{{d.points}}</td>              
                    </tr>
                </tbody>    
            </table>        
        </div>
        <div id="menu2" class="tab-pane fade">
        <h3>T20</h3>
        <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Team</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in data">
                        <td>{{d.id}}</td>
                        <td><img src={{d.flagurl}} style="height: 20px; width: 20px"/> {{d.name}}</td>
                        <td>{{d.points}}</td>              
                    </tr>
                </tbody>    
            </table>        
        </div>
    </div>
</div>
      